* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

.bg-image img{
    width:100%;
    height: 170px;
}
.navbar{
    padding-left: 40px;
    padding-right: 40px;
}
.navbar-brand{
    font-weight: bold;
    font-size: 40px;
    padding-left: 60px;
}
.navbar-nav{
    color:black;
    font-size: 18px;
    font-weight: bold;
    padding-right: 220px;
     display: flex;
     
}
.navbar-nav :hover{
    color: rgb(194, 51, 51)
}
.sale-up{
   background-color: #f8f9fa; 
  background-size: cover;
}
.sale-up .row{
  width: 1510px;
    background-color: #f8f9fa; 
    background-size: cover;
    margin-left: -103px;
    
}
img {
    width: 100%;
    height: 100%;
  }
  .sale-of{
    font-size: 70px ;
    font-weight: 750;
    justify-content: center;
   text-align: center;
   
  }
  .sale-off{
    font-size: 70px ;
    font-weight: 750;
    justify-content: center;
   text-align: center;
   margin-top: -22px;
   padding-top: 0%;
  }
  .on-line{
    font-size: 20px ;
    font-weight: 500;
    justify-content: center;
   text-align: center;
  }
  .btn{
    height: 70px;
    background-color: indianred;
    color: #f8f9fa;
    align-content: center;
    width: 200px;
   margin-left: 120px;
   margin-top: 30px;
  }
  .btn:hover{
    background-color: rgb(219, 90, 90);
      color: rgb(182, 176, 176);
    height: 70px;
    width: 200px;
  }
  .img-sale{
    margin:  30px 0 ;  
 
  }
  .img-sale1{
    margin:  30px 0 ;  
 
  }

  .img-text{
    margin-top: -250px;
    margin-left: 320px;
    font-size: 40px ;
    font-weight: 700;
    flex-wrap: wrap;
    color: #f8f9fa;
    text-align: left;
    
  }
  .img-text1{
    margin-top: -15px;
    margin-left: 320px;
    font-size: 40px ;
    font-weight: 700;
    flex-wrap: wrap;
    color: #f8f9fa;
    text-align: left;
    
  }
  .btn-1{
    background-color: black;
    color: #f8f9fa;
    height: 45px;
    width: 130px;
    margin-left: 170px;
    margin-top: 20px;
  }
  .img-text2{
    margin-top: -250px;
    margin-left: 50px;
    font-size: 40px ;
    font-weight: 700;
    flex-wrap: wrap;
    color: #111111;
    text-align: left;
    
  }
  .img-text3{
    margin-top: -15px;
    margin-left: 50px;
    font-size: 40px ;
    font-weight: 700;
    flex-wrap: wrap;
    color: #111111;
    text-align: left;
    
  }
  .btn-2{
    background-color: rgb(250, 245, 245);
    color:  #111111;
    height: 45px;
    width: 130px;
    margin-right: 390px;
    margin-top: 20px;
    border: none;
    font-weight: 500;
  }
  .for-2{
   background-color: #c7c6c6;
   height: 600px;
    margin: 90px 0px;
    margin-left: 8px;
    width: 600px;
    
    
  }
  .for-usd{
   padding-top: 200px;
    place-items: center;
    color: white;
    font-weight: 700;
    font-size: 40px;
  }
  .btn-flase{
    background-color: rgb(250, 245, 245);
    color:  #111111;
    border: none;
    height: 50px;
    width: 150px;
    font-weight: 500;
    margin-left: 230px;
    margin-top: 20px;
  }
  .col-lg-2{
    margin-top: 90px;
   height: 20px;
    width: 300px;
    margin-right: 15px;
    text-align: center;
   display: block;
   
   
  }
  